<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>top画面</h1>
    </div>
    
    <div class="col">
      <%= link_to "レシピ一覧", recipes_path, class:"btn btn-lg btn-success" %>
    </div>
  </div>
</div>
