<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>ユーザーネーム</th>
            <th>メールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.name %></td>
            <td><%= @user.email%></td>
          <tr>
        </tbody>
      </table>
    </div>
  </div>
</div>